/* .message{
    margin-right: '18px';
color: rgb(255, 255, 255);
 
    background-color:#3B2A50 ;
}
.th-message{
 float: lefrightt;
  }
.my-message{
   float:left; 
  
 }
  .message-block{
      font-size: larger;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
   */